/* @import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap'); */

*{
  /* font-family: 'Gochi Hand', cursive; */
}
html, body, #root{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #121212;
}
h1,h2,h3,p{
  margin: 0;
}

